*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    max-width: 100%;
    
}

body{
    background-color: #000000 ;
    max-width: 1350px;
    margin: 0 auto;
    
  
}
.container{
    background-color: #121208 ;
  
}

header, main, footer{
    background-color: #12403e;
    margin: 10px;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
   
    
}
header div{
    background-color: #ea7650;
    padding: 5px 15px;
    
}
.logo{
    max-height: 7.5vh;
    animation-name: rotatingdc;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-bottom: -5px ;
 

}

header nav{
    background-color:#ea7650;
    list-style-type: none;
    padding: 20px;
    width: 80%;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

nav li a{
    background-color: #f1d272;
    color: #3e3e3e;
    cursor: pointer;
    padding: 5px 20px;
    transition: 200ms ease-in-out;
    text-decoration: none;
}


nav li a:hover{
   background-color: #3e3e3e; 
   color:#f1d272 ;
}

main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.first-section{
    background-color: #ea7650;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    place-content: center;
}

article{ 
    background-color:#f1d272; 
    position: relative;
    box-shadow: -6px 5px 5px rgba(0, 0, 0, 0.662);

    
}
article img{
   
    object-fit: cover;
    padding: 10px;
    max-width: 100%;
    background-color: #f8efc9;
    border-radius: 0px 0px 20px 20px;
  
    
}


article p{
    background-color: #f8efc9;

}





.cinco{
    grid-column: 3 / 4 ;
    grid-row: 1 / 3;
    max-height: 100%;
    position: relative;
 
}

.cinco img{
    height: 65%;
    object-fit: cover;
   
}


.cinco p{
   border-radius: 20px 20px 0px 0px;
    padding: 10px 0px ;
    text-align: center;
}

.cinco button{
   position: absolute !important;
   bottom: 0;
   z-index: 2;
}

.card{
    position: relative;
}
.card h4,.precio{
    position: absolute;
    top: 0;
    left: 15%;
    width: 50%;
    background-color: #f1d272;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    padding: 3px 0px;
    color:#3e3e3e;
    font-weight: 500;
    user-select: none;
}

.fa-star{
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #433303;
    border-radius: 0px 0px 20px 20px;
    padding: 14px 50px;
    color:#f8efc9;
    user-select: none;
    
}
.fa-star:hover{
    background-color: #12403e;
    color:#ea7650
}
.fa-star:active{
    color: red;
}

.card p{
    border-radius: 20px 20px 0px 0px;
    padding: 0px 10px;
    text-align: center;
    
}


.card button, .buttonfive{
 width: 100%;
 border-radius: 0px ;
 outline: none;
 border: none;
 padding: 5px 0px;
 margin-top: 5px;
 border: 1px solid #121208;
 background-color: #12403e;
 color: #ea7650;
 font-weight: 900;
 transition: 300ms ease-in-out;
 cursor: pointer;
 z-index: 2;
 position: relative;
}


.card button:hover,
.cinco button:hover{
    background-color:#f8efc9;
    color:#3e3e3e;
}

.card button:active,
.cinco button:active{
    transition: none;
    color: green;
    background-color: #3e3e3e;
}
h4 i{
    padding-left: 5px;
    cursor: pointer;
}
h4 i:hover{
    background-color: red;
    
}
h4 i:active{
    color: red;
}
button i{
    padding: 0px 10px;
}
.second-section{
    background-color: #ea7650;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5,25%);
    margin: 10px;
    padding: 20px 0px 20px 28%;
    height: 15vh;
    user-select: none;
   
}

[class*="a-img"]{
    grid-column: 1 / span 2;
    grid-row: 1/ -1;
    border: 3px solid #12403e;
    border-radius: 100%;
    filter: sepia(1);
    transition: 200ms ease-in, z-index 10ms ;
    height: 100%;
   
}
.primera-img{
    z-index: 1;
}
.segunda-img{
    margin-left: 130px;
    z-index: 1;
}
.tercera-img{
    margin-left: 260px;
    z-index: 1;
}
.cuarta-img{
    margin-left: 390px;
    z-index: 1;
}


[class*="a-img"]:hover{
    z-index: 2;
    filter: sepia(0);
  
}



footer{
    padding: 10px;
    
   
}
form{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    place-content: stretch center;
    text-align: center;
    background-color: #ea7650;
}
form h4,form input, form label{
    background-color: #f1d272;
    color:#212121;
    font-weight: 900;
    margin: 10px 0px;
    outline: none;
    font-size: 1em;
    padding: 2px;
}
form h4{
    background-color: #433303;
    background-color: #433303;
    color: #f8efc9;
    cursor: pointer;
    padding: 20px 80px;
    align-self:  center;
    user-select: none;
}

form h4:hover{
     box-shadow: inset 5px 5px 10px black, inset -5px -5px 10px black;
}
form > :nth-child(2){
   border-radius: 0px;
   user-select: none;
}
form > :nth-child(3){
    align-self: center;
    padding: 10px 40px;
}

@keyframes rotatingdc{
  0%{rotate:0deg;  }
 25%{rotate:360deg; }
  50%{rotate:0deg;  }
  75%{rotate: -360deg;  }
  100%{rotate: 0deg;  }
}