*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    margin: 5vw 5vh;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    background-color: rgb(255, 104, 104);   
    min-height: 50vh;
    place-content: center stretch;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid black;
 }

div{
   
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    
}

.radios{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    
   
}

.tres,.cuatro{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    place-items:  center;
    
}

.input input{
    justify-self: stretch;
    background-color: rgba(232, 115, 115, 0.874); 
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;

}


.dos{
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
}
.dos textarea{
    resize: none;

    justify-self: stretch;
    background-color: rgba(232, 115, 115, 0.874); 
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
  }

  ::placeholder{
    
    color: rgb(255, 255, 255); 
}

button{
    justify-self: center;
    padding: 10px 100px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 200ms;
}


button:hover,
textarea:hover,
input:hover{
    background-color: rgb(88, 88, 88);
    color: white;

}


article{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

footer{
    position: relative;
    background-color: black;
    margin: 0px 25%;
    height: 30vh;
    width: 50vw;
}

.a{
    background-color: #ccffcc;
    position:absolute;
    z-index: 1;
    top: 40%;
    left: 250px;
}

.b{
    background-color: #00cc00;
    position:absolute;
    z-index: 2;
    top: 40%;
    left: 270px;
}


.c{
    background-color: #55ff55;
    position:absolute;
    z-index: 3;
    top: 40%;
    left: 290px;
}
